/*For Developer Use*/

body[dir="rtl"] header .navbar .logo-wrap .site-logo {
    left: auto;
    right: 8px;
}

body[dir="rtl"]  .account-wrap {
   display:none;
}
header.nav-up {
      top: -133px !important;
}

body[dir="rtl"] .slick-arrow.slick-next {
    right: auto;
    left: 50px;
}
body[dir="rtl"]  .slick-arrow.slick-prev {
    left: 0;
    right: auto;
}

body[dir="rtl"]  .payment-wrap {
    margin-left: 0;
    margin-right: 30px;
}
body[dir="rtl"] .sm-icon-wrap ul
{
    margin: 0 auto 0 0;
}
body[dir="rtl"] .sm-icon-wrap ul li
{
    margin-right: 0;
    margin-left: 29px;
}
body[dir="rtl"] .sm-icon-wrap ul li:nth-child(4n+4)
{
    margin-left: 0;
}
body[dir="rtl"]  .store-paymate-wrap
{
    justify-content: flex-end;
}

body[dir="rtl"]  header .navbar .navbar-collapse ul>li {
    margin-left: 40px;
    margin-right: 0;
}

body[dir="rtl"]  header .navbar .navbar-collapse ul>li:last-child {
    margin-left:0;
}



/* Anuva Css */

.box
{
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    background: #000;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    transition: .5s;
    margin-bottom: 35px;
}

.box:hover
{
    transform: translateY(-30px);
    box-shadow: 0 50px 50x rgba(0,0,0,.5);
}

.box .imgbox
{
    position: relative;
}

.box .imgbox img
{
    transition: .5s;
}

.box:hover .imgbox img
{
    opacity: .5;
    transform: translateY(-40px);
}

.box .content
{
    position: absolute;
    bottom: -40px;
    left: 0;
    padding: 20px;
    box-sizing: border-box;
    transition: .5s;
    opacity: 0;

}

.box:hover .content
{
    opacity: 1;
    bottom: 0;
}

.box .content h3
{
    font-size: 48px;
    color: #fff;
    font-weight: 700;
}

.box .content p
{
    font-size: 18px;
    color: #fff;
    font-weight: 400;
}

.box .content .btnD
{
    border: none;
    background: #ff0000;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    font-weight: 700;
    transition: .5s;
}

.box .content .btnD:hover
{
    background: #ff3232;

}

section
{
    padding: 120px 0 0;

}
