.contact-left-wrap {
  background-color: #13568e;
  padding: 60px 40px; }
  .contact-left-wrap ul li .icon-circle {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #ffffff;
    color: #78a5cf;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
